<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2017-10-07T12:55:48Z</date>
	<key>WorkspacePath</key>
	<string>/Users/d069408/privat/Developer/highway_github/end2end_tests/highwayiostest/highwayiostest.xcodeproj</string>
</dict>
</plist>
